/* COLORS */
main{
    background-color: #f8f9fa;
}

/* UTILITIES */
.debug{
    border: 1px solid black;
}

/* HEADER CONFIG */
header{
    height: 70px;
    position: fixed;
}

/* WRAPPER CONFIG */
.wrapper{
    height: calc(100vh - 70px);
    margin-top: 70px;
    overflow: hidden;   
}

/* SIDEBAR CONFIG */
#sidebar{
    width: 180px;
    height: 100%;
    flex-shrink: 0;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

/* MAIN CONFIG */
main{
    overflow-y: scroll;
    flex-grow: 1;
    height: 100%;
}

/* TOP ASIDE OF MAIN CONFIG */
/* Breadcumb col */
.aside .badge{
    background-color: #165bba;
}

.aside .badge:hover{
    background-color: #13366b;
    cursor: pointer;
}

/* Offcanvas config */
.offcanvas.offcanvas-end{
    width: 100%;
}

/* Offcanvas button config */
.offcanvas-btn{
    border: 1px solid white;
    color: white;
    background-color: transparent;
    padding: 5px;
    margin-left: 1rem;
}

.offcanvas-btn::after{
    font-family: 'Font Awesome 6 Free';
    content: '\2b';
    font-weight: 900;
    padding: 5px;
}

/* Classes table config */
table td:first-child img{
    width: 2rem ;
}

/* modify button config */
.modify, .delete{
    border: 2px solid #6c757d;
    color: #6c757d;
}
.modify:after{
    font-family: 'Font Awesome 6 Free';
    content: '\f304';
    font-weight: 900;
}

/* delete button config */
.delete::after{
    font-family: 'Font Awesome 6 Free';
    content: '\f2ed';
    font-weight: 900;
}


@media  screen and (max-width:575px) {
    .cell-none{
        display: none;
    }

    #sidebar{
        width: 70px;
    }

    .breadcumbs-none{
        display: none;
    }
}

@media screen and (min-width: 992px){
    .offcanvas.offcanvas-end{
        width: 60%;
    }
}